<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<head></head>
	<body>
		  

	      
<!-- 	      Javascript  -->
	      <th:block th:fragment="js-script">      
		    <script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
		    <script th:src="@{/admin/vendor/popper.js/umd/popper.min.js}"> </script>
		    <script th:src="@{/admin/vendor/bootstrap/js/bootstrap.min.js}"></script>
		    <script th:src="@{/admin/vendor/jquery.cookie/jquery.cookie.js}"> </script>
		    <script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
		    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
		    <script th:src="@{/admin/js/charts-home.js}"></script>
		    <script th:src="@{/admin/js/front.js}"></script>
		  </th:block>
	    
	</body>
</html>