<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<head></head>
<body>

        <!--	header mix garde hurry/escalade-->
        <div class="main" th:fragment="headerVisitAdmin">
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 pl-0 fixed-top">
                <div><a href="#" class="sidebar-toggler text-gray-500 mr-4 mr-lg-5 lead"><i class="fas fa-align-left"></i></a></div>
                <div class="row navbar-brand text-primary font-weight-bold">
                    <a th:href="@{/homePage}"><img class="logoConnected" th:src="@{/assets/img/gallery/logo.png}" alt="" /></a>
                    <span id="header-logo-name" class="text-primary font-weight-bold">Garde Hurry</span>
                </div>
                <div class="row container headerLogoConnected">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse col-lg-9" id="navbarSupportedContent nav-connected-gardehurry">
                        <ul class="navbar-nav ml-auto" id="navbar-connected-gardehurry">
                            <li class="nav-item text-muted"><a class="nav-link active" aria-current="page" th:href="@{/user/homePage}">Mon espace</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/showUsers/1}">Rechercher</a></li>
                            <li class="nav-item dropdown"><a class="nav-link" id="navbarDropdowndoc" th:href="@{/logout}">Deconnexion</a></li>
                        </ul>
                        <span class="ml-auto hover-top-shadow name username"><strong th:utext="${fullname}"></strong></span>
                    </div>
                </div>
            </nav>
        </div><!-- End Header mix garde hurry/escalade-->

        <!-- 	      sidebar -->
        <div  th:fragment = "sidebar-connected">
            <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family side-menu">MENU</div>
            <ul class="sidebar-menu list-unstyled">
                <li class="sidebar-list-item"><a th:href="@{/user/homePage}" class="sidebar-link text-muted active"><i class="fas fa-list-ul mr-3 text-gray"></i><span>Dashboard</span></a></li>
                <li class="sidebar-list-item"><a th:href="@{/user}" class="sidebar-link text-muted"><i class="fas fa-id-card mr-3 text-gray"></i><span>Mon Profil</span></a></li>
                <li class="sidebar-list-item"><a th:href="@{/user/friends}" class="sidebar-link text-muted"><i class="fas fa-user-friends mr-3 text-gray"></i><span>Mes Amis</span></a></li>
                <li class="sidebar-list-item"><a th:href="@{/requests/childcares}" class="sidebar-link text-muted"><i class="fas fa-child mr-3 text-gray"></i><span>Mes Demandes</span></a></li>
                <li class="sidebar-list-item"><a th:href="@{/missions/childcares}" class="sidebar-link text-muted"><i class="fas fa-tasks mr-3 text-gray"></i><span>Mes Missions</span></a></li>
                <li class="sidebar-list-item"><a th:href="@{/logout}" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Déconnexion</span></a></li>
            </ul>
            <div sec:authorize="hasAuthority('ADMIN')">
                <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MEMBRE</div>
                <ul class="sidebar-menu list-unstyled">
                    <li class="sidebar-list-item"><a th:href="@{/users/1}" class="sidebar-link text-muted"><i class="fas fa-users mr-3 text-gray"></i><span>Les Utilisateurs</span></a></li>
                </ul>
            </div>
        </div>

        <!--       	  top data on dashboard -->
        <div class="row dashboard-data" th:fragment = "dashboard-data">
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-violet"></div>
                        <div th:if="${negativeBadgesNumber}" class="text">
                            <h6 class="mb-0">Badges à mon actif</h6>
                            <span>- </span>
                            <span th:text="${negativeBadgesNumber}"></span>
                            </br>
                            <small><strong>Il est temps de rendre la pareil!</strong></small>
                        </div>
                        <div th:if="${positiveBadgesNumber}" class="text">
                            <h6 class="mb-0">Badges à mon actif</h6>
                            <span th:text="${positiveBadgesNumber}"></span>
                            </br>
                            <small><strong>Bravo et merci pour votre solidarité!</strong></small>
                        </div>
                        <div th:if="${positiveBadgesNumber}==0" class="text">
                            <h6 class="mb-0">Badges à mon actif</h6>
                            <span class="text-gray">Aucun</span>
                        </div>
                    </div>
                    <div th:if="${negativeBadgesNumber}" class="icon text-white"><span><img th:src="@{/img/badgeNeg-40.png}"/></span></div>
                    <div th:if="${positiveBadgesNumber}" class="icon text-white"><span><img th:src="@{/img/badgePos-40.png}"/></span></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-green"></div>
                        <div class="text">
                            <h6 class="mb-0">Mes Amis</h6>
                            <span th:if="${NumberOfFriends} > 0" class="text-gray" th:text="${NumberOfFriends}"></span>
                            <span th:if="${NumberOfFriends} == 0" class="text-gray">Aucun</span>
                        </div>
                    </div>
                    <div class="icon text-white bg-green"><i class="fas fa-user-friends"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-blue"></div>
                        <div class="text">
                            <h6 class="mb-0">Gardes en attente</h6>
                            <span th:if = "${countOfChildcaresToValidate} > 0" class="text-gray" th:utext="${countOfChildcaresToValidate}"></span>
                            <span th:unless = "${countOfChildcaresToValidate} > 0" class="text-gray">Aucune</span>
                        </div>
                    </div>
                    <div class="icon text-white bg-blue"><i class="fas fa-hourglass-half"></i></div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 mb-4 mb-xl-0">
                <div class="bg-white shadow roundy p-4 h-100 d-flex align-items-center justify-content-between">
                    <div class="flex-grow-1 d-flex align-items-center">
                        <div class="dot mr-3 bg-red"></div>
                        <div class="text">
                            <h6 class="mb-0">Gardes à commenter</h6>
                            <span th:if = "${countOfChildcaresToComment} > 0" class="text-gray" th:utext="${countOfChildcaresToComment}"></span>
                            <span th:unless = "${countOfChildcaresToComment} > 0" class="text-gray">Aucune</span>

                        </div>
                    </div>
                    <div class="icon text-white bg-red"><i class="fas fa-comments"></i></div>
                </div>
            </div>
        </div>


        <div class="container-fluid" th:fragment = "footerVisit">
          <div>
            <div class="col-md-12 text-center text-md-center text-primary">
              <p class="email contact-footer">Contact</p>
              <p class="mb-2 mb-md-0 email">renseignements@gardehurry.com</p>
            </div>
            <br>
            <div class="col-md-12 text-center text-md-center">
              <p class="mb-0">
              	<span><img class="logoConnectedFooter" th:src="@{/assets/img/gallery/logo.png}" alt="" /></span>
                  <span class="text-primary">Garde Hurry</span><span>&copy; 2021</span>
              </p>
            </div>

          </div>
        </div>	    
	
	    
	
	  
	</body>

</html>

