<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Inscription</title>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300&amp;display=swap" rel="stylesheet">
    <link th:href="@{assets/css/theme.css}" rel="stylesheet">
    <!-- ===============================================-->
    <!--    Favicon shortcut icon in tab-->
    <!-- ===============================================-->
    <link rel="shortcut icon" th:href="@{/admin/img/favicon.png}">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/style.css}" type="text/css" th:rel="stylesheet">
</head>
<body>
<!-- navbar-->
<div id="page">
    <nav class="d-flex align-items-stretch navbar navbar-expand-lg navbar-light bg-white py-4 pl-0 fixed-top register-header">
        <div class="container headerLogo col-sm-4 d-flex justify-content-center ">
            <a class="mainToolBar navbar-brand text-primary font-weight-bold col-lg-3" th:href="@{/homePage}">
                <span><img id = "logo"  th:src="@{assets/img/gallery/logo.png}" alt="" /></span>
                <span>Garde Hurry</span></a>
        </div>
        <div class="text-primary font-weight-bold col-sm-8 d-flex justify-content-center title-register">PREMIERE ETAPE</div>
    </nav>

    <div class="d-flex align-items-stretch" id="content">
        <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">
                <div class="d-flex justify-content-center ">
                    <div class="page-holder w-100 d-flex flex-wrap">
                        <div class="container-fluid px-xl-4">
                            <section th:if="${errorMessage}!=null">
                                <div>
                                    <h4 class="text-uppercase mb-4 text-center" id="error" th:utext="${errorMessage}"></h4>
                                </div>
                            </section>
                            <section class="py-6 d-flex justify-content-center">
                                <!-- Form Elements -->
                                <div class="col-lg-5 mb-5">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="h6 text-uppercase mb-0">Inscription</h3>
                                        </div>
                                        <div class="card-body">
                                            <form class="form-horizontal" action="#" th:action="@{/saveUser}" th:object="${user}" method="post" enctype="utf8">

                                                <div class="form-group row" >
                                                    <label class="col-sm-3 col-form-label" for="firstName">Prénom</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:field="*{firstName}" id="firstName" class="form-control"/>
                <!--                                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="fieldError">Données incorrectes</span>-->
                                                    </div>
                                                </div>

                                                <br></br>


                                                <div class="form-group row ${#fields.hasErrors('lastName')}? has-error">
                                                    <label class="col-sm-3 col-form-label" for="lastName">Nom</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:field="*{lastName}" id="lastName" class="form-control">
                <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div class="form-group row ${#fields.hasErrors('email')}? has-error">
                                                    <label class="col-sm-3 col-form-label" for="email">Email</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" th:field="*{email}" id="email" class="form-control">
                <!--                                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="fieldError"></span>-->
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div class="form-group row ${#fields.hasErrors('password')}? has-error">
                                                    <label class="col-sm-3 col-form-label" for="password">Mot de Passe</label>
                                                    <div class="col-sm-8">
                                                        <input type="password" th:field="*{password}" id="password" class="form-control">
                                                        <small class="form-text text-muted ml-3">entre 8 à 14 caractères</small>

                                                    </div>
                                                </div>


                                                <br></br>

                                                <div>
                                                    <label class="col-sm-4 col-form-label" for="address">N° et type de voie</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:field="*{address}" id="address" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                        <small class="form-text text-muted ml-3">ex: 6 Avenue des Bois</small>
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div>
                                                    <label class="col-sm-3 col-form-label" for="city">Ville</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:field="*{city}" id="city" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div>
                                                    <label class="col-sm-3 col-form-label" for="area">Quartier</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:field="*{area}" id="area" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                    </div>
                                                </div>

                                                <div class="form-group row ${#fields.hasErrors('situation')}? has-error">
                                                    <div class="col-sm-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" th:field="*{situation}" id="situation">
                                                            <span th:if="${#fields.hasErrors('situation')}" th:errors="*{situation}" th:errorclass="fieldError"></span>
                                                            <label class="custom-control-label" for="situation">En activité</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <p th:if="${message}" th:text="${message}" class="message"></p>
                                                </div>

                                                <div class="line"></div>

                                                <div class="form-group row text-center">
                                                    <div class="col-md5  mx-auto d-block">
                                                        <a th:href="@{/homePage}"><button type="button" class="btn btn-secondary">Annuler</button></a>
                                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
</div>
<!-- JavaScript files-->
<th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
</body>
</html>