<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:insert="fragments/componentsRessources.html :: headVisit">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <title>Mes Amis</title>
</head>

<body>
<!-- navbar-->
<div id="page">
    <header class="fixed-top" th:insert="fragments/componentsVisit.html :: headerVisitAdmin"></header>

    <div class="d-flex align-items-stretch" id="content">
        <div id="sidebar" class="sidebar py-3" th:insert="fragments/componentsVisit.html :: sidebar-connected"></div>
        <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">

                <section class="py-6 d-flex justify-content-center">
                    <div class="row col-lg-12 mb-4 justify-content-center">
                        <div class="col-lg-12 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <div class="col-md-6 text-center">
                                        <h6 class="text-uppercase mb-0">
                                            <span class="float-md-left">Mes demandes d'amis en attente</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div th:if="${requests.empty}" class="d-flex justify-content-center">
                                        <p><strong>Aucun demande pour le moment!</strong></p>
                                    </div>
                                    <table th:unless="${requests.empty}" class="table table-striped table-hover card-text">
                                        <thead>
<!--                                        <tr>-->
<!--                                            <th>Nom</th>-->
<!--                                            <th>Prénom</th>-->
<!--                                            <th>Accepter</th>-->
<!--                                        </tr>-->
                                        </thead>
                                        <tbody>
                                        <tr th:each="friendDto: ${requests}">
                                            <td><a target="_blank" th:href="@{/profile/user/{id}(id = ${friendDto.userWhoInvite.id})}" th:utext = "${friendDto.userWhoInvite.firstName}"></a></td>
                                            <td th:utext = "${friendDto.userWhoInvite.lastName}">...</td>

                                            <td>
                                                <form action="#" th:action="@{/request/response}" th:method="post">
                                                    <input type="hidden" name="id" th:value = "${friendDto.id}"/>
                                                    <button type="submit" class="float-md-right"><img src="https://img.icons8.com/bubbles/50/000000/friends--v4.png"/></button>
                                                </form>
                                            </td>
                                            <td>
                                                <form action="#" th:action="@{/delete/request}" th:method="post">
                                                    <input type="hidden" name="id" th:value = "${friendDto.id}"/>
                                                    <button type="submit"><img src="https://img.icons8.com/color/48/000000/unfriend-female.png"/></button>
                                                </form>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="py-6 d-flex justify-content-center">
                    <div class="row col-lg-12 mb-4 justify-content-center">
                        <div class="col-lg-12 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <div class="col-md-6 text-center">
                                        <h6 class="text-uppercase mb-0">
                                            <span class="float-md-left">Mes amis</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div th:if="${friendDtosMap.isEmpty()}" class="d-flex justify-content-center">
                                        <p><strong>Aucun Amis pour le moment!</strong></p>
                                    </div>
                                    <table th:unless="${friendDtosMap.isEmpty()}" class="table table-striped table-hover card-text">
                                        <thead>
                                        <!--                                        <tr>-->
                                        <!--                                            <th>Nom</th>-->
                                        <!--                                            <th>Prénom</th>-->
                                        <!--                                            <th>Accepter</th>-->
                                        <!--                                        </tr>-->
                                        </thead>
                                        <tbody>
                                        <tr th:each="instance,iterator : ${friendDtosMap}">
                                            <td><a target="_blank" th:href="@{/profile/user/{id}(id = ${instance.key.id})}" th:utext = "${instance.key.firstName} + ' ' + ${instance.key.lastName}"></a></td>

                                            <td>
                                                <form action="#" th:action="@{/delete/request}" th:method="post">
                                                    <input type="hidden" name="id" th:value = "${instance.value.id}"/>
                                                    <button type="submit"><img src="https://img.icons8.com/color/48/000000/unfriend-female.png"/></button>
                                                </form>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
</div>
<!-- JavaScript files-->
<th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>
</html>