<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Accueil</title>


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300&amp;display=swap" rel="stylesheet">
    <link th:href="@{assets/css/theme.css}" rel="stylesheet">
    <!-- ===============================================-->
    <!--    Favicon shortcut icon in tab-->
    <!-- ===============================================-->
    <link rel="shortcut icon" th:href="@{/admin/img/favicon.png}">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:href="@{/css/style.css}" type="text/css" th:rel="stylesheet">
</head>
<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-4 pl-0 fixed-top">
        <div class="container headerLogo">
            <a class="mainToolBar navbar-brand text-primary font-weight-bold" th:href="@{/homePage}">
                <span><img id = "logo"  th:src="@{assets/img/gallery/logo.png}" alt="" /></span>
                <span>Garde Hurry</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse homePage-header" id="navbarSupportedContent header-button">
                <ul th:unless="${session.isEmpty()}" class="navbar-nav ml-auto" id="navbar">
                    <li class="nav-item text-muted"><a class="nav-link active" aria-current="page" th:href="@{/user/homePage}">Mon espace</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/showUsers/1}">Rechercher</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/logout}">Deconnexion</a></li>
                </ul>
                <span th:unless="${session.isEmpty()}" class="ml-auto hover-top-shadow name username"><strong>
			      	<span th:utext="${fullname}"></span></strong>
	            </span>
                <a th:if="${session.isEmpty()}" class="btn btn-primary ml-auto hover-top-shadow" id="connectButton" href="#sign-in">Se connecter</a>
            </div>
        </div>
    </nav>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="pt-4 pt-md-5 homePageSection">

        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5 col-lg-6 order-md-1"><img class="img-fluid mb-5 mb-md-0" src="assets/img/gallery/happy_family.jpg" alt="" /></div>
                <div class="col-md-7 col-lg-6">
                    <h1 class="display-6 text-center text-md-left">Bienvenue sur <span class="text-primary">Garde Hurry</span>. <br />Le premier site de garderie entre parents.</h1>
                    <p class="lead text-center text-md-left text-muted mb-3">Une urgence, un rendez-vous, du retard? Pas panique Garde Hurry est là!<br class="d-none d-xl-block d-xxl-none" />Pour vous et vos enfants!</p>
                    <div class="text-center text-md-left pt-4"><a class="btn btn-lg btn-primary hover-top-shadow mr-3" th:href="@{/signup}">S'inscrire
                        <svg class="bi bi-arrow-right-short" width="1.2em" height="1.2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"></path>
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"></path>
                        </svg></a></div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-5 py-md-7 border-bottom" id="feature">

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4"><img class="mb-3" src="img/helping-50.png" alt="" />
                    <h5>Garde Hurry facilite la solidarité!</h5>
                    <p class="text-muted mb-0">Vous êtes vous même acteur. Vous rendez service et on vous rend la pareille!</p>
                </div>
                <div class="col-md-6 col-lg-4 mb-4"><img class="mb-3" src="img/people-network-50.png" alt="" />
                    <h5>Constituez votre propre réseau de parents sûr!</h5>
                    <p class="text-muted mb-0">Garderie va faciliter la rencontre de parents du même quartier et aider à constituer votre réseau!</p>
                </div>
                <div class="col-md-6 col-lg-4"><img class="mb-3" src="img/schedule-50.png" alt="" />
                    <h5>Organiser vos gardes grâce à Garde Hurry!</h5>
                    <p class="text-muted mb-0">Grâce à notre platforme vous pourrez suivre plus facilement vos demandes et vos gardes à effectuer.</p>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section th:if="${session.isEmpty()}" class="bg-light py-5 py-md-8">

        <div class="container" id="sign-in">
            <div class="row align-items-center">
                <div class="col-md px-xl-7 p-xxl-8 order-md-1 mb-4 mb-md-0 pl-md-4">
                    <h2 class="text-primary mt-2 d-block">Qui sommes-nous?</h2>
                    <p class="text-muted">Nous sommes une platforme de rencontre entre parents du même quartier. Garde Hurry est là pour vous aider à constituer votre propre réseau de solidarité le plus sûr puisque c'est vous qui le choisissez!</p>
                    <div class="row">
                        <div class="col-md-auto pr-xl-6">
                            <div class="d-flex"><span class="mr-2">
                      <svg class="bi bi-check-circle" width=".8em" height=".8em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                      </svg></span>
                                <p class="text-success">Des personnes sur qui compter!</p>
                            </div>
                            <div class="d-flex"><span class="mr-2">
                      <svg class="bi bi-check-circle" width=".8em" height=".8em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                      </svg></span>
                                <p class="text-success">Des profils vérifiés</p>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="d-flex"><span class="mr-2">
                      <svg class="bi bi-check-circle" width=".8em" height=".8em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                      </svg></span>
                                <p class="text-success">Un Outil de gestion de vos gardes</p>
                            </div>
                            <div class="d-flex"><span class="mr-2">
                      <svg class="bi bi-check-circle" width=".8em" height=".8em" viewBox="0 0 16 16" fill="#389E7F" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                      </svg></span>
                                <p class="text-success">Des avis pour voir le sérieux des parents!</p>
                            </div>
                        </div>
                    </div>
                    <h4 class="text-uppercase mb-4 text-center" id="error" th:if="${errorMessage}!=null" th:utext="${errorMessage}"></h4>
                </div>
                <div class="col-lg-auto col-md-5">
                    <div class="card hover-top-shadow hover-top-shadow-lg border-0 card-form"><img class="card-img-top card-img-curve" src="assets/img/gallery/empruntes.jpg" alt="" />
                        <div class="card-body p-4 pt-5">
                            <form id="loginForm" th:action="@{/login}" th:object="${authBodyDto}" method="post">
                                <div class="mb-4">
                                    <input class="form-control" id="username" th:field="*{username}" required type="text" placeholder="Identifiant" />
                                </div>
                                <div class="mb-4">
                                    <input class="form-control" id="password" th:field="*{password}" required type="password" placeholder="Mot de passe" />
                                </div>
                                <button class="btn btn-block btn-success text-white" type="submit">Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <div th:if="${session.isEmpty()}" class="shape-arc-up">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 220">
            <path fill="#091A2B" fill-opacity="1" d="M0,128L120,133.3C240,139,480,149,720,144C960,139,1200,117,1320,106.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"> </path>
        </svg>
    </div>

    <div th:unless="${session.isEmpty()}" class="shape-arc-up arc-modified">
        <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1440 220">
            <path fill="#091A2B" fill-opacity="1" d="M0,128L120,133.3C240,139,480,149,720,144C960,139,1200,117,1320,106.7L1440,96L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"> </path>
        </svg>
    </div>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="bg-faq pt-9 pt-md-13 pt-lg-12 pt-xl-11" id="faq">

        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-6">
                    <div class="d-flex">
                        <div class="badge badge-circle bg-success">i</div>
                        <div class="ml-4">
                            <h4 class="text-white">Je m'inscris et constitue mon réseau!</h4>
                            <p class="text-muted mb-0">Seule la tranche d'âges des enfants sera visible! Parce que nous priorisons la sécurité des enfants, une vérification d'identité sera effectuer par envoie de documents prouvant votre identité!
                                vous pourrez ensuite rechercher des parents près de chez vous, échanger puis les rencontrer et si tout va bien les rajouter à votre réseau de parents.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-6">
                    <div class="d-flex">
                        <div class="badge badge-circle bg-success">i</div>
                        <div class="ml-4">
                            <h4 class="text-white">Je fais une demande ou répond à une demande!</h4>
                            <p class="text-muted mb-0">Eh oui, Garde Hurry est un site d'entraide, vous demandez un service, vous devez en rendre un en retour, un système de badges vous permets de savoir si vous êtes redevable ou pas!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-6 mb-md-0">
                    <div class="d-flex">
                        <div class="badge badge-circle bg-success">i</div>
                        <div class="ml-4">
                            <h4 class="text-white">Je peux suivre mes demandes et mes gardes à effectuer!</h4>
                            <p class="text-muted mb-0">Vous serez averti chaque fois que nécessaire grâce à un système de notifications.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex">
                        <div class="badge badge-circle bg-success">i</div>
                        <div class="ml-4">
                            <h4 class="text-white">A l'issue de ma garde, je peux donner mon avis!</h4>
                            <p class="text-muted mb-0">Que vous soyez demandeur ou aidant dans la garde, vous pourrez donner votre avis sur chacun, cela aidera à garantir le sérieux de chaque inscrit!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->




    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="bg-faq py-8">

        <div class="container">
            <div class="row justify-content-center">
                <div th:if="${session.isEmpty()}"  class="col-md-10 col-lg-8 text-center"><span class="badge mb-4 font-weight-normal text-uppercase bg-light text-primary">C'est parti!</span>
                    <h2 class="display-6 text-white">Vous voulez être plus serein!</h2>
                    <p class="text-muted mb-4 mb-md-6">Notre platforme est là pour vous faciliter la vie.</p><a class="btn btn-lg btn-success hover-top-shadow text-white" th:href="@{/signup}">Inscrivez-vous
                        <svg class="bi bi-arrow-right-short" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8.146 4.646a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.793 8 8.146 5.354a.5.5 0 0 1 0-.708z"></path>
                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5H11a.5.5 0 0 1 0 1H4.5A.5.5 0 0 1 4 8z"></path>
                        </svg></a>
                </div>

                <div th:unless="${session.isEmpty()}"  class="col-md-10 col-lg-8 text-center">
                    <h2 class="display-6 text-white">Vous êtes connecté et vous rencontrez des difficultés!</h2>
                    <p class="text-muted mb-4 mb-md-6">N'hésitez pas à nous contacter!</p></div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <div class="shape-arc-down"><img class="w-100" src="assets/img/gallery/shape-down.svg" alt="" /></div>
    <section class="py-7">
        <div class="container">
            <div th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></div>
        </div>
    </section>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="text-center border-top footer-text py-3">

        <div class="container">Made with ❤️ by <a class="text-500 text-decoration-none" href="https://themewagon.com/"> Lavanya Mouhamadouvahap </a>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</section>


<!--Free template added-->
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<!-- JavaScript and dependencies -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
<script th:src="@{assets/js/plugins.js}"></script>
<script th:src="@{assets/lib/is/is.min.js}"></script>
<script th:src="@{assets/lib/stickyfilljs/stickyfill.min.js}"></script>
<script th:src="@{assets/js/theme.js}"></script>
</body>
</html>