<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head  th:insert="fragments/componentsRessources.html :: headVisit">-->
<head>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

<!--    resources header garde hurry-->
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/assets/img/favicons/apple-touch-icon.png}">
    <link rel="icon" type="image/png" sizes="32x32" th:href="@{/assets/img/favicons/favicon-32x32.png}">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/img/favicons/favicon-16x16.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/assets/img/favicons/favicon.ico}">
    <link rel="manifest" th:href="@{/assets/img/favicons/manifest.json}">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,300&amp;display=swap" rel="stylesheet">
    <link th:href="@{/assets/css/theme.css}" rel="stylesheet">
<!--    end resources header garde hurry-->



<!--    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>-->
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" th:href="@{/admin/vendor/bootstrap/css/bootstrap.min.css}">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- Google fonts - Popppins for copy-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,800">
    <!-- orion icons-->
    <link rel="stylesheet" th:href="@{/admin/css/orionicons.css}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" th:href="@{/admin/css/style.default.css}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" th:href="@{/admin/css/custom.css}">
    <!-- Favicon-->
    <link rel="shortcut icon" th:href="@{/admin/img/favicon.png?3}">

    <link th:href="@{/admin/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" type="text/css" th:rel="stylesheet">
    <title>Tableau de Bord</title>
</head>

<body>
<!-- navbar-->
<div id="page">
    <header class="fixed-top" th:insert="fragments/componentsVisit.html :: headerVisitAdmin"></header>

    <div class="d-flex align-items-stretch" id="content">
        <div id="sidebar" class="sidebar py-3" th:insert="fragments/componentsAdmin.html :: sidebar-connected"></div>
        <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">
                <section class="py-5" th:insert="fragments/componentsAdmin.html :: dashboard-data"></section>
                

                <section>
                    <div class="col-5 col-lg-12 mx-auto mb-5 mb-lg-0">
                        <div class="pr-lg-5 img-fluid img-home"></div>
                    </div>
                </section>


                <section class="py-6 d-flex justify-content-center">
                    <div class="row col-lg-12 mb-4 justify-content-center">
                        <div class="col-lg-12 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <div class="col-md-6 text-center">
                                        <h6 class="text-uppercase mb-0">
                                            <span class="float-md-left">Je fais garder mes enfants</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div th:if="${requests.empty}" class="d-flex justify-content-center">
                                        <p><strong>Aucune garde!</strong></p>
                                    </div>
                                    <table th:unless="${requests.empty}" class="table table-striped table-hover card-text">
                                        <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Début</th>
                                            <th>Fin</th>
                                            <th>Enfant(s) concerné(s)</th>
                                            <th>Parent en charge</th>
                                            <th>Informations</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="childcare: ${requests}">
                                            <td th:utext="${#temporals.format(childcare.date, 'dd-MM-yyyy')}">...</td>
                                            <td  th:utext = "${childcare.timeStart}">...</td>
                                            <td  th:utext = "${childcare.timeEnd}">...</td>
                                            <td>
                                                <ul th:each="children: ${childcare.childrenToWatch}" style="list-style-type:none;">
                                                    <li  th:utext="${children.name} + ' - ' + ${children.age} +' an(s)'"></li>
                                                </ul>
                                            </td>
                                            <td th:utext = "${childcare.userDtoWatching.firstName} + ' ' + ${childcare.userDtoWatching.lastName}">...</td>
                                            <td th:utext = "${childcare.description}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="py-6 d-flex justify-content-center">
                    <div class="row col-lg-12 mb-4 justify-content-center">
                        <div class="col-lg-12 mb-4 mb-lg-0">
                            <div class="card">
                                <div class="card-header">
                                    <div class="col-md-6 text-center">
                                        <h6 class="text-uppercase mb-0">
                                            <span class="float-md-left">Je garde des enfants</span>
                                        </h6>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div th:if="${missions.empty}" class="d-flex justify-content-center">
                                        <p><strong>Aucune garde à effectuer!</strong></p>
                                    </div>
                                    <table th:unless="${missions.empty}" class="table table-striped table-hover card-text">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Début</th>
                                                <th>Fin</th>
                                                <th>Enfant(s) concerné(s)</th>
                                                <th>Enfant(s) de</th>
                                                <th>Informations</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="childcare: ${missions}">
                                                <td th:utext="${#temporals.format(childcare.date, 'dd-MM-yyyy')}">...</td>
                                                <td  th:utext = "${childcare.timeStart}">...</td>
                                                <td  th:utext = "${childcare.timeEnd}">...</td>
                                                <td>
                                                    <ul th:each="children: ${childcare.childrenToWatch}" style="list-style-type:none;">
                                                        <li  th:utext="${children.name} + ' - ' + ${children.age} +' an(s)'"></li>
                                                    </ul>
                                                </td>
                                                <td th:utext = "${childcare.userDtoInNeed.firstName} + ' ' + ${childcare.userDtoInNeed.lastName}">...</td>
                                                <td th:utext = "${childcare.description}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>


        </div>
    </div>
    <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
</div>
<!-- JavaScript files-->
<!--<th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>-->



<!--<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>-->
<!--<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>-->
<!--<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>-->

<script th:src="@{/admin/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/admin/vendor/popper.js/umd/popper.min.js}"> </script>
<script th:src="@{/admin/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/vendor/jquery.cookie/jquery.cookie.js}"> </script>
<script th:src="@{/admin/vendor/chart.js/Chart.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script th:src="@{/admin/js/charts-home.js}"></script>
<script th:src="@{/admin/js/front.js}"></script>
</body>
</html>