<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head  th:insert="fragments/componentsRessources.html :: headVisit">
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <title>Modifier mon profile</title>
</head>
<body>
<!-- navbar-->
<div id="page">
    <header class="fixed-top" th:insert="fragments/componentsVisit.html :: headerVisitAdmin"></header>

    <div class="d-flex align-items-stretch" id="content">
        <div id="sidebar" class="sidebar py-3" th:insert="fragments/componentsVisit.html :: sidebar-connected"></div>
        <div class="page-holder w-100 d-flex flex-wrap">
            <div class="container-fluid px-xl-5">
                <div class="d-flex justify-content-center ">
                    <div class="page-holder w-100 d-flex flex-wrap">
                        <div class="container-fluid px-xl-4">
                            <section class="py-6 d-flex justify-content-center">

                                <!-- Form Elements -->
                                <div class="col-lg-5 mb-5">
                                    <div class="card">
                                        <div class="card-header">
                                            <h3 class="h6 text-uppercase mb-0">Inscription</h3>
                                        </div>
                                        <div class="card-body">
                                            <form class="form-horizontal" action="#" th:action="@{/updateUser}" th:object="${user}" method="post" enctype="utf8">

                                                <input type="hidden" th:name ="id" th:value="${user.id}" id="id" class="form-control"/>
                                                <div class="form-group row" >
                                                    <label class="col-sm-3 col-form-label" for="firstName">Prénom</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:name ="firstName" th:value="${user.firstName}" id="firstName" class="form-control"/>
                                                        <!--                                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" th:errorclass="fieldError">Données incorrectes</span>-->
                                                    </div>
                                                </div>

                                                <br></br>


                                                <div class="form-group row ${#fields.hasErrors('lastName')}? has-error">
                                                    <label class="col-sm-3 col-form-label" for="lastName">Nom</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:name ="lastName" th:value="${user.lastName}" id="lastName" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div class="form-group row ${#fields.hasErrors('email')}? has-error">
                                                    <label class="col-sm-3 col-form-label" for="email">Email</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" th:name ="email" th:value="${user.email}" id="email" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:errorclass="fieldError"></span>-->
                                                        <small class="form-text text-muted ml-3">Attention! Modifier son email, revient à changer son identifiant de connexion!</small>
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div>
                                                    <label class="col-sm-3 col-form-label" for="address">N° et type de voie</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:name ="address" th:value="${user.address}" id="address" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                        <small class="form-text text-muted ml-3">ex: 6 Avenue des Bois</small>
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div>
                                                    <label class="col-sm-3 col-form-label" for="city">Ville</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:name ="city" th:value="${user.city}" id="city" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                    </div>
                                                </div>

                                                <br></br>

                                                <div>
                                                    <label class="col-sm-3 col-form-label" for="area">Quartier</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" th:name ="area" th:value="${user.area}" id="area" class="form-control">
                                                        <!--                                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" th:errorclass="fieldError"></span>-->
                                                    </div>
                                                </div>

                                                <div class="form-group row ${#fields.hasErrors('situation')}? has-error">
                                                    <div class="col-sm-3">
                                                        <div class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input" th:field="*{situation}" id="situation">
                                                            <span th:if="${#fields.hasErrors('situation')}" th:errors="*{situation}" th:errorclass="fieldError"></span>
                                                            <label class="custom-control-label" for="situation">En activité</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div>
                                                    <p th:if="${message}" th:text="${message}" class="message"></p>
                                                </div>

                                                <div class="line"></div>

                                                <div class="form-group row">
                                                    <div class="col-md5  mx-auto d-block">
                                                        <a th:href="@{/user}"><button type="button" class="btn btn-secondary">Annuler</button></a>
                                                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer align-self-end py-3 px-xl-5 w-100" th:insert="fragments/componentsVisit.html :: footerVisit" id="footer"></footer>
</div>
<!-- JavaScript files-->
<th:block th:replace="fragments/componentsRessources.html :: js-scriptVisit"></th:block>
</body>
</html>