<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Profile</title>
</head>

<body>


<!-- ======= Hero Section ======= -->
<div class="d-flex align-items-stretch justify-content-center">
    <div id="sidebar" class="sidebar py-3"></div>
    <div class="page-holder w-100 d-flex flex-wrap">

        <section>

            <div class="row mb-4">
                <div class="col-lg-9 mb-4 mb-lg-0 site-card">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-8 text-center">
                                    <h2 class="text-uppercase mb-0">
                                        <span class="float-md-left" th:utext="${user.firstName}"></span>
                                        <span class="float-md-left" th:utext = "${user.lastName}"></span>
                                    </h2>
                                </div>
                                <div class="col-md-4 float-md-right"  id="tag">
                                    <span th:if="${user.validated} == true">
                                        <img src="https://img.icons8.com/cute-clipart/64/000000/ok-hand.png"/>
                                        <p><small><strong><em>profil vérifié</em></strong></small></p>
                                    </span>
                                    <span th:unless="${user.validated} == true">
                                        <p><img th:src="@{/img/profil-non-vérifié-64.png}"/></p>
                                        <p><small><strong><em>non-vérifié</em></strong></small></p>
                                    </span>
                                </div>
                        </div>
                        <div class="card-body">

                            <div>
                                <p class="col-sm-8"><strong>Adresse </strong>:
                                    <span th:utext="${user.city}"></span>
                                </p>
                                <p class="col-sm-8"><strong>Secteur </strong>: <span th:utext="${user.area}"></span></p>
                                <p class="col-sm-8"><strong>Situation </strong>:
                                    <span th:if="${user.situation} == true">En activité</span>
                                    <span th:if="${user.situation} == false">Sans activité</span>
                                </p>
                                <p class="col-sm-12">J'ai
                                    <strong><span th:text="${numberOfChildren}"></span></strong> enfant(s) qui sont:
                                    <ul th:each="child : ${user.childrenDtos}">
                                        <li>
                                            <span th:switch="${child.school}">
											    <span th:case="${T(com.lavanya.web.dto.School).N}">
											    	Non Scolarisé</span>
                                                <span th:case="${T(com.lavanya.web.dto.School).M}">
											    	En Maternelle</span>
                                                <span id="unavailable" th:case="${T(com.lavanya.web.dto.School).P}">
											    	Au Primaire</span>
                                                <span id="in-progress" th:case="${T(com.lavanya.web.dto.School).C}">
											    	Au Collège</span>
                                            </span>
                                        </li>
                                    </ul>
                                </p>
                            </div>

                            <br>
                            <div>
                                <p th:if="${isMyFriend}==true and ${friend.accepted}==false">Demande d'amitié en cours!</p>
                                <form th:if="${isMyFriend} and ${friend.accepted}" action="#" th:action="@{/delete/request}" th:method="post">
                                    <input type="hidden" name="id" th:value = "${friend.id}"/>
                                    <input type="hidden" name="userConnectedId" th:value = "${userConnectedId}"/>
                                    <button type="submit"><img src="https://img.icons8.com/color/48/000000/unfriend-female.png"/></button>
                                </form>
                                <form th:unless="${isMyFriend}" action="#" th:action="@{/request/friend}" th:method="post">
                                    <input type="hidden" name="userInvitedId" th:value = "${user.id}"/>
                                    <input type="hidden" name="userWhoInviteId" th:value = "${userConnectedId}"/>

                                    <button type="submit" class="btn btn-primary"><img src="https://img.icons8.com/bubbles/50/000000/friends--v4.png"/></button>
                                </form>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>	<!-- End Hero -->

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>
</body>

</html>